body{
background-size:cover;
}
.heading{
font-size:23px;
width:100%;
margin:0px;
}
#status,#number_of_objects,#start{
font-size:18px;
}
.copy_right_footer{
position:fixed;
color:grey;
bottom:0;
width:100%;
background-color:white;
line-height:3;
text-align:center;
}